<div id='title'>
  <h1>Fossil Hunter</h1>
</div>

<hr id='line'>

<h3>Resources:</h3>
<a href="https://paleobiodb.org/cgi-bin/bridge.pl?a=displayDownloadGenerator">https://paleobiodb.org/ API</a>

<p>


</p>

<div id='map'>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</div>
